<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.module.applive">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".screen.OnePiexlActivity"
            android:theme="@style/transparency"></activity>

        <service android:name=".service.ForgroundService" />
        <service android:name=".service.ForgroundService$InnerService" />

        <service android:name=".service.LocationService" />
        <service
            android:name=".service.RemoteService"
            android:process=":remote" />

        <service
            android:name="service.ScheduleService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".receiver.CameraReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="com.android.camera.NEW_VIDEO" />
                <action android:name="android.hardware.action.NEW_VIDEO" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </receiver>
    </application>

</manifest>